body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: rgb(140, 173, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}

#wrapper {
    max-width: 1200px;
    padding: 20px;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.20), 0px 8px 20px rgba(0,0,0,0.20);
}



.item {
   display: inline-block;
   vertical-align: top;
   width: 33%;
   height: 100%;
   margin: 0;
   padding: 20px;

   box-sizing: border-box;
   text-align: center;
   
   text-decoration: none;
   border-radius: 6px;
   transition: background 0.15s;
   color:rgb(61, 108, 209);
}

.item:hover {
    background-color: #eee;
}

.item-image {
    width: 120px;
    margin-bottom: 30px;
}

h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.7em;
    letter-spacing: 0.2em;
}

.item-text p{
    color: rgb(124, 124, 124);
    font-size: 1.2em;
    font-weight: 500;
    margin: 40px;
    height: 100px;
}

.item-price {
    font-size: 3em;
    font-weight: 700;
}

sup {
    font-size: 0.5em;
}

span {
    font-size: 0.5em;
    font-weight: 500;
}

@media (max-width: 800px) {

    body {
        margin-top: 0;
    }
    .wrapper {
        display: flexbox;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
    }
    .item {
        flex-wrap: wrap;
        width: 100%;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        font-size: 0.7em;
    }

    
}

