body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "sans serif";
}

#container {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#card {
    width: 30em;
    height: 25em;
    margin: 0 auto;
    border-radius: 6px;
    background: rgb(250, 250, 250);
    text-align: center;
    text-transform: uppercase;
}

h2 {
    margin: 0;
    color: rgb(80, 80, 80);
    line-height: 6em;
}

.title {
    height: 8em;
    border-radius: 6px 6px 0 0;
    background: rgb(250, 250, 250);
}

.opt {
    width: 26em;
    height: 4em;
    padding: 0 2em;
    border-top: 1px solid rgb(200, 200, 200);
    color: rgb(150, 150, 150);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opt:hover {
    color: rgb(50,50,50);
}

.opt:hover .check {
    display: block;
}

.image {
    width: 4em; 
    height: 4em;

}

.opt span {
    width: 200px;
    margin-left: 2em;
    text-align: left;
    flex-grow: 1;

}
.opt .check {
    flex-grow: 2;
    display: none;
} 

.opt:active {
    color: rgb(80, 80, 80);
}

.confirm {
    height: 5em;
    border-radius: 0 0 6px 6px;
    background: rgb(77, 143, 219);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;


} 

.arrow {
    margin-left: 5px;
    width: 20px;
}





